* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #e6e6e9;
}

.app {
  text-align: center;
  width: 100%;
}

.container {
  width: 40%;
  margin: 0 auto;
}
